* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0d0d0d;
    color: #ffffff;
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
    position: sticky;
    top: 0;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #00eaff;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00eaff;
}

/* SECTIONS */
section {
    padding: 80px 40px;
    text-align: center;
}

/* HOME */
.home h1 {
    font-size: 40px;
}

.home span {
    color: #00eaff;
}

/* ABOUT */
.about p {
    max-width: 600px;
    margin: 20px auto;
}

/* PROJECTS */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: #1a1a1a;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #222;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #00eaff;
}

/* CONTACT */
.contact p {
    font-size: 18px;
    margin-top: 10px;
}
